
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

.Header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

.Header-div {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-h1 {
  font-size: 24px;
}

.Header-ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

.Header-a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.Header-a:hover {
  color: #ddd;
}

.Main-section {
  width: 90%;
  min-height: 90vh;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  align-items: center;
}

.Main-h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.Main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.Main-div {
  background-color: #333;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Main-p {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

.Main-img {
  width: 100%;
  border-radius: 8px;
}

.Footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

.Footer-p {
  margin: 10px 0;
}


