
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

main {
  height: 100vh;
}

.Header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

.Header-div {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.Header-h1 {
  font-size: 24px;
}

.Header-nav {

}

.Header-ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

.Header-a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.Header-a:hover {
  color: #ddd;
}

.Footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

.Footer-p {
  margin: 10px 0;
}

